html {
  scroll-behavior: smooth;
}

body,html {
  background-image: url('../public/wp10623707-vector-mountain-wallpapers.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}